<%- include('partials/header') %>
<!-- Header includes <head> and opens <body> -->

<main id="long-sum-card">
  <h2 class="book-title"><%= book.title %></h2>
  <p class="book-author">Author: <%= book.author %></p>

  <p>Rating: <%= book.rating %>/10</p>

  <p>
    <% if (book.rating > 8) { %> ⭐⭐⭐⭐⭐ <% } else if (book.rating > 6) { %>
    ⭐⭐⭐⭐ <% } else if (book.rating > 4) { %> ⭐⭐⭐ <% } else if
    (book.rating > 2) { %> ⭐⭐ <% } else if (book.rating > 0) { %> ⭐ <% } %>
  </p>

  <p class="long-sum"><%= book.long_summary %></p>
</main>

<%- include('partials/footer') %>

<!-- Footer closes </body> and </html> -->
