<%- include('partials/header') %>

<div class="title-container">
  <h2 class="init-title">Book Collection</h2>
</div>
<p class="about">
  I like reading a ton of non-fiction. At times, I forget the lessons they
  carry, I'm sure you do too. So I made this as a reminder of what I learned and
  my recommendation ratings. Enjoy your reading!
</p>
<main id="short-sum-container">
  <ul>
    <!-- This is essentially the default book card -->
    <% books.forEach(book => { %>
    <li id="short-sum-card">
      <!-- ✅ Book Cover only if ISBN exists -->
      <% if (book.isbn) { %>
      <img
        class="book-cover"
        src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg"
        alt="Cover for <%= book.title %>"
        loading="lazy"
      />
      <% } %>

      <!-- This is how the individual book has an endpoint -->
      <h2 class="book-title">
        <a href="/book/<%= book.id %>"> <%= book.title %> </a>
      </h2>

      <p class="book-author">Author: <%= book.author %></p>

      <!-- Need to introduce the stars, corresponding to rating or like out of 5 stars or sth -->
      <p>Rating: <%= book.rating %>/10</p>
      <p>
        <% if (book.rating > 8) { %> ⭐⭐⭐⭐⭐ <% } else if (book.rating > 6) {
        %> ⭐⭐⭐⭐ <% } else if (book.rating > 4) { %> ⭐⭐⭐ <% } else if
        (book.rating > 2) { %> ⭐⭐ <% } else if (book.rating > 0) { %> ⭐ <% }
        %>
      </p>

      <!-- Need to introduce the character limit or sth for the summaries -->
      <p class="short-sum">
        <%= book.short_summary.length > 120 ?
        book.short_summary.substring(0,120) + "..." : book.short_summary %>
      </p>
    </li>
    <% }) %>
  </ul>
</main>

<%- include('partials/footer') %>
